<p id="notice"><%= notice %></p>

<p>
  <strong>Post id integer:</strong>
  <%= @comment.post_id_integer %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
